*.uuid

# nvim
nvim/.config/nvim/plugin/packer_compiled.lua
zsh/.config/zsh/.zsh_history
zsh/.config/zsh/.zcompdump
nixos/hardware-configuration.nix
nixos/hardware-configuration.nix

config/.config/zsh/.zcompdump
config/.config/zsh/.zsh_history
config/.config/gh/hosts.yml
